<!-- Form controls -->
<form action="/literacys/{{literacy.id}}?_method=PUT" method='POST'>
    <div class='col-md-6'>
        <div class='card mb-4'>
            <h5 class='card-header'>Edit Literacys</h5>
            <div class='card-body'>
                <div class='mb-3'>
                    <label for='fullName' class='form-label'>Specialization</label>
                    <input
                        type='text'
                        name='specialization'
                        class='form-control'
                        id='fullName'
                        value="{{literacy.specialization}}"
                        required
                    />
                </div>
                <div class='mb-3'>
                    <label for='fullName' class='form-label'>Academic Level</label>
                    <input
                        type='text'
                        name='academicLevel'
                        class='form-control'
                        id='fullName'
                        value="{{literacy.academicLevel}}"
                        required
                    />
                </div>
              
                <div class='mb-3'>
                    <button type='submit' class='btn btn-outline-primary'>
                        <span class='tf-icons bx bx-plus-circle'></span>&nbsp;
                        Update Literacy
                    </button>
                </div>
            </div>

        </div>
    </div>
</form>