@import "variable";
// .container {
//     color: aquamarine;
//     background-color: $red-color;
// }
.main-blog {
    margin-top: 20px;
    margin-left: 50px;
}
h1 {
    color: black;
}
.user-action {
    margin-left: 20px;
}