<div class='authentication-wrapper authentication-basic container-p-y'>
    <div class='authentication-inner'>
        <!-- Register -->
        <div class='card'>
            <div class='card-body'>
                <div class='card text-center'>
                    <div class='card-header'>Account register successfully!</div>
                    <div class='card-body'>
                        {{!-- <h5 class='card-title'>Special</h5> --}}
                        <p class='card-text'>Please wait for the manager to accept</p>
                        <a href='/auth/login' class='btn btn-primary'>Go
                            to HomePage</a>
                    </div>
                    {{!-- <div class='card-footer text-muted'>2 days ago</div> --}}
                </div>
            </div>
        </div>
    </div>
</div>